
.admin-con {
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col {
  flex: 0 0 75%;
  max-width: 75%;
}

.dishimg {
  height: 200px;
  width: 200px;
  border-radius: 10px;

  
}

h2, h4, p {
  margin: 5px;
}

button {
  padding: 10px 20px;
  background-color:rgb(43, 43, 230);
  color: #fd0083;
  border: none;
  cursor: pointer;
  margin:20px;
 
 
}
.bucketlist,.buy{
  margin:10px;
  border-radius: 4px;
  background-color:rgb(43, 43, 230);
 
}
.cart{
 
  border-radius: 4px;
  background-color:rgb(43, 43, 230);
  display:flex;
  justify-content: center;
  align-content: center;
  float: right;

}
li{
  list-style-type: none;
}

button:hover {
  background-color:blue;
}
.font{
  font-family: Basis_Grotesque_Pro;
}

@media (max-width: 768px) {
  .col-3, .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

 
