.owner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #ec42d0, #2B2BE6);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 70vh;
   margin:5%;
   margin-left: 20%;
   margin-right: 20%;
}

.owner-info {
    margin-bottom: 20px;
    color: rgb(12, 9, 9);
}

.select-container, .issue-container {
    margin-bottom: 20px;
}

.select-container select, .issue-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    color: #c53683;
    background-color: rgb(43, 43, 230);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
